@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #317bbb;
  --foreground: #317bbb;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #317bbb;
    --foreground: #317bbb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
